.Login {
    max-width: 500px;
    margin: auto;
}

.Login h1{
    padding-bottom: 1em;
}
.Login form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.Login input[type='submit']{
    padding: .5em;
    border-radius: .25em;
}
.Login p{
    padding: 1em 0;
}
.Login a{
    font-weight: bold;
    text-decoration: none;
}
.adminCredentials{
    background-color: rgb(43, 43, 43);
    padding: .5em;
    border-radius: .25em;
}
.adminCredentials p {
    padding: .25em 0;
}

/* Tablets */
@media (min-width: 768px) {
    .Login{
        background-color: rgba(0, 0, 0, 0.75);
        padding: 5em 3em;
        border-radius: .25em;
    }
}


/* Small laptops / desktops */
@media (min-width: 1024px) {

}

/* Large desktops */
@media (min-width: 1280px) {

}
