.Profiles{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}
.Profiles h1{
    font-size: 1.5em;
}
.Profiles ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.Profiles li{
    flex: 0 0 6em;
    border: 1px solid white;
    height: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .25em;
    border-radius: .25em;
    cursor: pointer;
}
.Profiles img{
    object-fit: cover;
    max-width: 4em;
    height: 100%;
    border-radius: .25em;
}

.profileButton{
    display: flex;
    align-items: center;
    height: 100%;
}
