.Register{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
}
.Register>:first-child{
    margin: 0;
}
.Register h2{
    margin: 0;
}
.Register form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.Register input[type='submit']{
    padding: .5em 0;
    border-radius: .25em;
}

/* Tablets */
@media (min-width: 768px) {
    .Register {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 5em 3em;
        border-radius: .25em;
    }
}


/* Small laptops / desktops */
@media (min-width: 1024px) {}

/* Large desktops */
@media (min-width: 1280px) {}