.CarouselItem {
    flex: 0 0 45%;
    transition: .5s;
    padding: 1.5%;
}
.CarouselItem:hover{
    padding: 0;
}
.CarouselItem img{
    border-radius: .25em;
    width: 100% ;
    height: auto;
}
@media screen and  (min-width: 500px) {
    .CarouselItem {
            flex: 0 0 30%;
            padding: 1.2%;
    }
}
@media screen and  (min-width: 800px) {
    .CarouselItem {
            flex: 0 0 24%;
            padding: .5%;
        }
    }
    @media screen and  (min-width: 1140px) {
        .CarouselItem {
            flex: 0 0 18%;
    }
}
@media screen and  (min-width: 1400px) {
    .CarouselItem {
            flex: 0 0 15%;
    }
}