.ChoosePlan {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ChoosePlan>:first-child {
    margin: 0;

}

.ChoosePlan form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.planSection {
    display: flex;
    border: 0;
    gap: .5em;
}

.planSection p {
    font-size: .8em;
}

.planSection label {
    flex-grow: 1;
    flex-basis: 33%;
}

.planSection input[type='radio'] {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
}

.planSection input[type='radio']:checked+label {
    background-color: #FF6F00;
}

.planSection input[type='radio']:checked+label i {
    color: white;
}

.shortInfo {
    color: black;
    border: 1px solid white;
    font-size: .75em;
    padding: 1em;
    min-height: 10em;
    border-radius: .5em;
}
.shortInfo>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.shortInfo h2 {
    font-size: 1.25em;
    font-weight: 500;
}

.shortInfo p {
    color: rgba(255, 255, 255, 0.8);
}

.shortInfo i {
    color: transparent;
    text-align: right;
}

.planText {
    display: flex;
    justify-content: space-between;
    padding: 1em .25em;
    border-bottom: 1px solid white;
    font-size: 1.125em;
}

.planText span:first-child {
    color: rgba(255, 255, 255, 0.725);
}

.planText span:last-child {
    text-align: right;
}

.planTextOnLabel>* {
    display: none;
}




.botao {
    display: block;
    border-radius: .25em;
    text-align: center;
    margin: auto;
    padding: .5em 1em;
}

/* Tablets */
@media (min-width: 768px) {
    .planText {
        display: none;
    }

    .planTextOnLabel>* {
        display: flex;
    }
    .planTextOnLabel{
        font-size: 1.3em;
    }
    .shortInfo h2{
        font-size: 2em;
    }
    .shortInfo p{
        font-size: 1.25em;
    }
        .planTextOnLabel.planText{
        min-height: 5em;
        display: flex;
        align-items: center;
    }
}


/* Small laptops / desktops */
@media (min-width: 1024px) {}

/* Large desktops */
@media (min-width: 1280px) {}