.Edit h1{
    text-align: center;
}

.carousel h2 {
    padding: 0 .7em;
}

.carouselList {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carouselList::-webkit-scrollbar {
    display: none;
}

.carouselList>:first-child {
    margin-left: .5em;
}

.carouselWrapper {
    position: relative;
}

.rightButton,
.leftButton {
    position: absolute;
    height: 100%;
    width: 10%;
    max-width: 1em;
    color: rgba(255, 255, 255, 0.3);
    font-size: 2.5em;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .25s;
    cursor: pointer;
    top: 0;
    z-index: 5;
}

.rightButton {
    right: 0;
}

.rightButton:hover,
.leftButton:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}

/* Tablets */
@media (min-width: 768px) {
    .banner {
        background-image: url('../../images/banner-mid.jpg');
    }

}


/* Small laptops / desktops */
@media (min-width: 1024px) {
    .banner {
        background-image: url('../../images/banner-big.jpg');
    }

}

/* Large desktops */
@media (min-width: 1280px) {
    .banner {
        background-image: url('../../images/banner-large.jpg');
    }

}