.EditVideos {
    max-width: 480px;
    background-color: rgba(255, 255, 255, 0.137);
    margin: auto;    
    padding: 1.5em;
}
.EditVideos>:first-child {
    margin: 0;
}

.EditVideos h2 {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1em;
}


.EditVideos button,
.EditVideos a {
    padding: .5em 1em;
    margin: auto;
    margin-top: 1em;
    border-radius: .25em;
}

/* Tablets */
@media (min-width: 768px) {
    

    .EditVideos h1 {
        font-size: 1.8em;
    }

    .videoAdicionado img {
        max-width: 30vw;
    }

}


/* Tablets */
@media (min-width: 768px) {
    .Login{
        background-color: rgba(0, 0, 0, 0.75);
        padding: 5em 3em;
        border-radius: .25em;
    }
}


/* Small laptops / desktops */
@media (min-width: 1024px) {

}

/* Large desktops */
@media (min-width: 1280px) {

}
