*,
*::after,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background {
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: -3;
}
.grayBackground {
    background-color: #1E1E1E;
    position: fixed;
    inset: 0;
    z-index: -2;
}
.backgroundImage {
    position: absolute;
    inset: 0;
    background-image: url('./images/banner-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.backgroundImage::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .825);
    z-index: 0;
}

.container {
    width: 100%;
}

.container>:first-child {
    margin: auto;
}

.flex1 {
    flex: 1;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    background-color: #FF6F00;
    border: none;
    transition: .4s;
    font-size: 1.125rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #FF8F00;
}

.inputContainer {
    width: 100%;
    position: relative;
}

.inputContainer label {
    position: absolute;
    left: .6em;
    top: .6em;
    transition: .25s;
    color: #B3B3B3;
}

.inputContainer input {
    background-color: #1E1E1E;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: .25em;

    color: black;
    width: 100%;
    font-size: 1.1em;
    padding: .85em .5em .5em .5em;
    color: white;
}

.inputContainer input:focus+label,
.inputContainer input:not(:placeholder-shown)+label {
    transform: translate(0.6em, -.2em);
    font-size: .6em;
}

.current-query {
    padding: 1.5em;
}

/* Tablets */
@media (min-width: 768px) {
    .backgroundImage {
        background-image: url('./images/banner-mid.jpg');
    }

}


/* Small laptops / desktops */
@media (min-width: 1024px) {
    .backgroundImage {
        background-image: url('./images/banner-big.jpg');
    }

    .current-query {
        padding: 1em 5em;
    }



}

/* Large desktops */
@media (min-width: 1280px) {
    .backgroundImage {
        background-image: url('./images/banner-large.jpg');
    }

    .current-query {
        max-width: 1440px;
        margin: auto;
    }

}