.AddVideos {
    max-width: 480px;
    background-color: rgba(255, 255, 255, 0.137);
    margin: auto;
    
}

.AddVideos>:first-child {
    margin: 0;
}

.AddVideos h1 {
    font-size: 1.2em;
    padding: 1em 0;
}

.AddVideos form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.AddVideos input[type='submit'] {
    padding: .5em 1em;
    margin: auto;
    border-radius: .25em;
}

.videoAdicionado {
    display: flex;
    flex-direction: column;
    gap: .25em;
    width: fit-content;
    margin: auto;

    margin-top: 1em;
    padding: .5em;
    border-radius: .25em;
    border: 1px solid green;
    background-color: rgba(144, 238, 144, 0.507);
}

.videoAdicionado h2 {
    font-size: 1em;
}

.videoAdicionado p {
    font-size: .7em;
}

.videoAdicionado img {
    width: 100%;
    margin: auto;
}

.selectGender {
    background-color: #1E1E1E;
    color: white;
    padding: .5em;
    font-size: 1.1em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: .25em;
}

/* Tablets */
@media (min-width: 768px) {
    .AddVideos {
        padding: 1.5em;
    }

    .AddVideos h1 {
        font-size: 1.8em;
    }

    .videoAdicionado img {
        max-width: 30vw;
    }

}


/* Tablets */
@media (min-width: 768px) {
    .Login{
        background-color: rgba(0, 0, 0, 0.75);
        padding: 5em 3em;
        border-radius: .25em;
    }
}


/* Small laptops / desktops */
@media (min-width: 1024px) {

}

/* Large desktops */
@media (min-width: 1280px) {

}
